* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}	

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
}

/* end */

.full-container {
	width: 50rem;
	margin: 3rem auto;
	box-shadow: dodgerblue 0 0 2rem;
	border: .0625rem dodgerblue solid;
	border-radius: .3rem;
	padding: 1rem;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.h1 {
	font-size: 2.5rem;
	text-align: center;
}

.header {
	padding-bottom: 1rem;
	border-bottom: .0625rem dodgerblue solid;
}

.main {
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.input {
	display: none;
}

.label {
	display: flex;
	flex-direction: column;
	gap: .7rem;
	font-size: 1.5rem;
}

.meme_up-block {
	display: flex;
	justify-content: space-between;
}

.meme_image {
	max-width: 0;
	transition: .3s;
}

.meme_img {
	display: flex;
	justify-content: center;
}

.meme_icon {
	opacity: 0;
	transform: none;
	transition: .3s;
}

.input:checked + .label .meme_image {
	max-width: 45rem;
}

.input:checked + .label .meme_icon {
	transform: rotate(45deg);
	opacity: 1;
}

.input:checked + .label .meme_text {
	text-decoration: underline;
}

.label:active .meme_text,
.label:active .meme_icon {
	color: dodgerblue;
}

@media (hover: hover) {
	.main:hover .meme_icon {
		opacity: 1;
	}

	.main:hover .meme_text {
		text-decoration: underline;
	}

	.label:hover {
		cursor: pointer;
	}

	.label:hover .meme_image {
		max-width: 45rem;
	}

	.label:hover .meme_icon {
		transform: rotate(45deg);
	}
}

@media (max-width: 820px) {
	.full-container {
		width: 17rem;	
	}

	.h1 {
		font-size: 1.5rem;
	}

	.label {
		font-size: .9rem;
	}

	.input:checked + .label .meme_image {
		max-width: 14rem;
	}

	@media (hover: hover) {
		.label:hover .meme_image {
			max-width: 14rem;
		}
	}
}

@media (max-width: 320px) {
	.full-container {
		width: 16rem;	
	}

	.h1 {
		font-size: 1.4rem;
	}

	.label {
		font-size: .8rem;
	}

	.input:checked + .label .meme_image {
		max-width: 13rem;
	}

	@media (hover: hover) {
		.label:hover .meme_image {
			max-width: 13rem;
		}
	}
}